@import url(./reset.css);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
  font-family: 'Inter', sans-serif;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.weather {
  width: 320px;
  padding: 30px 20px;
  border-radius: 16px;
  background: linear-gradient(167deg, #42D2A6 4.7%, #007991 95.98%), #389196;
  color: #FFF;
}

.none {
  display: none !important;
}

.form {
  height: 40px; 
  display: flex;
  align-items: stretch; 
  border-radius: 60px;
  background: #FFF;
}

.form__input {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 10px;
  color: black;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.50); 
}

.form__button {
  padding-right: 10px;
}

.weather__info {
  padding-top: 10px;
  padding-bottom: 60px;
  text-align: center;
}

.weather__img {
  width: 128px; 
}

.weather__temp {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weather__city {
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}

.weather__data {
  display: flex;
  justify-content: space-between;
}

.data {
  display: grid;
  grid-template-columns: 36px auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
}

.data__img {
  width: 36px;
  grid-row: 1 / 3;
  align-self: center;
}

.data__value {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.data__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}